<div class="projects" >
    <h1 class="title">My Projects</h1>
    <form class="addNew" (submit)="addProject()" >
        <label>Add new project: </label>
        <input [(ngModel)]="projectName" type="text" name="project"/>
        <button>Add</button>
    </form>
</div>

<div class="project-names">
    <div *ngFor="let project of data">
        <div class="project-card">
            <h3>Project name: <a [routerLink]="['/user/projects', project.title]">{{ project.title }}</a></h3>
            <button type="submit">See</button>
        </div>
    </div>
</div>


