<div class="login-form">
    <h1 class="title">Let's make first step to the magic world! Sign Up</h1>
    <form (submit)="onSubmit()">
        <div class="form-group">
            <label>Create creative email:</label>
            <input type="email" [(ngModel)]="email" class="form-control" name="email"/>
        </div>
        <div class="form-group">
            <label>Create the safest password:</label>
            <input type="password" [(ngModel)]="password" class="form-control" name="password"/>
        </div>
        <button classs="bg-green fancy-btn my-2 my-sm-0" type="submit">Sign up</button>
    </form>
</div>

